.card {
    margin: 5mm;
    border-style: solid;
    border-width: 1mm;
    border-color: black;
    border-radius: 3mm;
    width: 63mm;
    height: 88mm;
}

*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.card_panel {
	height: 100%;
	width: 100%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
}

.card_art {
  height: 50%;
  text-align: center;
	font-family: "Arial";
	font-weight: bold;
}

.card_title {
  height: 8mm;
  line-height: 4mm;
  #font-size: 8pt;  
  text-align: center;  
  font-family: "Science Gothic 2";
}

.abilities_list {
  font-family: "Arial";
  font-weight: bold;
  font-size: 6pt;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  }

.ability_desc {
  text-align: left;
  width: 100%;  
  margin-left: 0.5mm;
  margin-right: 0.5mm;  
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  
}

.ability_text {
  height: 100%;
  padding: 0.5mm;
}

.ability_title { 
  height: 2.5mm;
  text-align: center;
  line-height: 2.5mm;
  background: rgb(0,0,0,0.5);
}

.ability {
  max-height: 12mm;
  display: flex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  margin-top: 0.5mm;
}

.ability_tag {
  min-width: 6mm;
  max-width: 6mm;
  height: 100%;
  text-align: center;
  border-style: solid;
  border-width: .5mm;
  border-color: black;
  border-radius: 1.5mm;
  margin-right: .5mm;
  font-size: 8pt;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  position: relative;
}

.tag_num {
  height: 45%;
  #height: 5mm;
  width: auto;
  text-align: center;
  #line-height: 7mm;
  font-size: 12pt;
}

.tag_icon{
	height: auto;
	#width: 100%;
	width: 5mm;
	#display: block;
	transform: translate(0%, 0%)
}

.tag_icon_only {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%)
}

.line{
	width: 100%;
	height: .5mm;
	background: rgb(0,0,0,1);
}

.hide {
	display: none;
}

.bg_a {
	background: rgb(52,143,235,0.5);
}

.bg_b {
	background: rgb(232,232,37,0.5);
}

.bg_c {
	background: rgb(232,76,37,0.5);
}
.border_black {
	border: 0.8mm solid rgb(0,0,0,0.9);
}

.bg_black {
	background: rgb(000,000,000,1);
}

.bg_white {
	background: rgb(255,255,255,1);
}

@font-face {
  font-family: 'Science Gothic VF';
  src: url('ScienceGothic[YOPQ,wdth,wght,slnt].ttf') format("truetype-variations");
  font-weight: 1 999;
}

.sg, .sg1, .sg2, .sg_num {
  font-family: "Science Gothic VF";
}

.sg {
  color: brown;
  font-variation-settings: "wght" 375, "wdth" 75, "YOPQ" 45;
}


.sg1 {
  color: white;
  font-variation-settings: "wght" 450, "wdth" 75, "YOPQ" 45;
}

.sg2 {
  color: blue;  
  #font-variation-settings: "wght" 600, "wdth" 150, "YOPQ" 75;
  font-variation-settings: "wght" 450, "wdth" 100, "YOPQ" 20, "slnt" -10;
   text-transform: uppercase;
  font-size: 12pt;
}

.sg_num, .tag_num {
  color: red;
  font-variation-settings: "wght" 400, "wdth" 125, "YOPQ" 100;
  font-size: 10pt;
}