.card {
    margin: 5mm;
    border-style: solid;
    border-width: 0.8mm;
    border-color: black;
    border-radius: 3mm;
    width: 63mm;
    height: 88mm;
}

*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.card_panel {
	height: 100%;
	width: 100%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
}

.card_art {
  height: 40%;
  text-align: center;
	font-family: "Arial";
	font-weight: bold;
}

.card_title {
  height: 10mm;
  line-height: 10mm;
  font-size: 12pt;
  font-weight: bold;
  text-align: center;  
}

.abilities_list {
  font-family: "Arial";
  font-weight: bold;
  font-size: 8pt;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  }

.ability_desc {
  text-align: left;
  width: 100%;  
  padding-left: 1mm;
}

.ability {
  height: 15mm;
  display: flex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.ability_tag {
  width: 10mm;
  height: 100%;
  text-align: center;
  #border-style: solid;
  #border-width: .5mm;
  #border-color: black;
  #border-radius: 1.5mm;
  margin-left: .5mm;
  font-size: 8pt;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  position: relative;
}

.tag_num {
  height: 50%;
  text-align: center;
  line-height: 6mm;
  font-size: 12pt;
}

.tag_icon{
	height: 50%;
	width: 100%;
	#position: absolute;
	#top: 50%;
	#left: 50%;
	#transform: translate(-50%, -50%)
}

.hide {
	display: none;
}

.bg_a {
	background: rgb(52,143,235,0.5);
}

.bg_b {
	background: rgb(232,232,37,0.5);
}

.bg_c {
	background: rgb(232,76,37,0.5);
}
.border_black {
	border: 0.8mm solid rgb(0,0,0,0.9);
}

.bg_black {
	background: rgb(000,000,000,1);
}

.bg_white {
	background: rgb(255,255,255,1);
}
