<div class="card">
    <!-- YOUR CUSTOM CODE STARTS HERE -->
			<div class="card_panel">
      <div class="card_art bg_c">
      ARTWORK
      </div>
      <div class="card_title">
      {{Card_Name}}
      </div>
			<div class="abilities_list">
        <div class="ability_desc bg_a">
        {{Text_1}}
        </div>
        <div class="ability_tag bg_">
          <img class="tag_num bg_a" src="dice.png">
          <div class="tag_num bg_c">{{Num_1A}}</div>          
        </div>
        <div class="ability_tag bg_">
          <div class="tag_num bg_a">A</div>
          <div class="tag_num bg_c" {{Cost}}>{{Cost}}</div>          
        </div>
      </div>
      <div class="title_panel" >
        
      </div>
		</div>
    <!-- YOUR CUSTOM CODE ENDS HERE -->
</div>