<div class="card">
    <!-- YOUR CUSTOM CODE STARTS HERE -->
			<div class="card_panel">
      <div class="card_art bg_c">
      ARTWORK
      </div>
      <div class="card_title">
      {{Card_Name}}
      </div>
		<div class="abilities_list">
			<div class="ability bg_">
				<div class="ability_desc bg_c">
				{{Text_1}}
				</div>
				<div class="ability_tag bg_">
				  <img class="tag_num bg_a" >
				  <div class="tag_num bg_b">{{Num_1A}}</div>          
				</div>
				<div class="ability_tag bg_a">test</div>
			</div>
			<div>
			Test
			</div>
		</div>

		</div>
    <!-- YOUR CUSTOM CODE ENDS HERE -->
</div>