<div class="card">
    <!-- YOUR CUSTOM CODE STARTS HERE -->
	<div class="card_panel">
      <div class="card_art bg_">
      ARTWORK
      </div>
      <div class="card_title sg2 bg_">
      {{card_name}}
      </div>
		<div class="abilities_list sg">
			<!-- Card Ability 1 -->
			<div class="ability validate bg_" data-validate="{{a1_name}}">
				<div class="ability_desc bg_ ">
					<div class="ability_title sg1">== {{a1_name}} ==</div>
					<div class="ability_text bg_">{{a1_text}}</div>
					</div>
					<div class="ability_tag validate" data-validate={{a1_ico1}}>
					  <img class="validate_icon bg_" src="/image/{{a1_ico1}}.png">  
					  <div class="tag_num bg_" data-activate="{{a1_num1}}">{{a1_num1}}</div>          
					</div>
					<div class="ability_tag validate" data-validate={{a1_ico2}}>
					  <img class="validate_icon bg_" src="/image/{{a1_ico2}}.png">
					  <div class="tag_num bg_" data-activate="{{a1_num2}}" >{{a1_num2}}</div>  
					</div>
					<div class="ability_tag validate" data-validate={{a1_ico3}}>
					  <img class="validate_icon bg_" src="/image/{{a1_ico3}}.png">
					  <div class="tag_num bg_" data-activate="{{a1_num3}}" >{{a1_num3}}</div>
				</div>
			</div>
				
			<!-- Card Ability 2 -->
			<div class="ability validate" data-validate="{{a2_name}}">
				<!-- Card Ability 1 -->
				<div class="ability_desc bg_ ">
					<div class="ability_title sg1">== {{a2_name}}==</div>
					<div class="ability_text bg_">{{a2_text}}</div>
					</div>
					<div class="ability_tag validate" data-validate={{a2_ico1}}>
					  <img class="validate_icon bg_" src="/image/{{a2_ico1}}.png">  
					  <div class="tag_num bg_" data-activate="{{a2_num1}}">{{a2_num1}}</div>          
					</div>
					<div class="ability_tag validate" data-validate={{a2_ico2}}>
					  <img class="validate_icon bg_" src="/image/{{a2_ico2}}.png">
					  <div class="tag_num bg_" data-activate="{{a2_num2}}" >{{a2_num2}}</div>  
					</div>
					<div class="ability_tag validate" data-validate={{a2_ico3}}>
					  <img class="validate_icon bg_" src="/image/{{a2_ico3}}.png">
					  <div class="tag_num bg_" data-activate="{{a2_num3}}" >{{a2_num3}}</div>
				</div>
			</div>
			
			<!-- Card Ability 1 -->
			<div class="ability validate" data-validate="{{a3_name}}">
				<div class="ability_desc bg_ ">
					<div class="ability_title sg1">== {{a3_name}}==</div>
					<div class="ability_text bg_">{{a3_text}}</div>
					</div>
					<div class="ability_tag validate" data-validate={{a3_ico1}}>
					  <img class="validate_icon bg_" src="/image/{{a3_ico1}}.png">  
					  <div class="tag_num bg_" data-activate="{{a3_num1}}">{{a3_num1}}</div>          
					</div>
					<div class="ability_tag validate" data-validate={{a3_ico2}}>
					  <img class="validate_icon bg_" src="/image/{{a3_ico2}}.png">
					  <div class="tag_num bg_" data-activate="{{a3_num2}}" >{{a3_num2}}</div>  
					</div>
					<div class="ability_tag validate" data-validate={{a3_ico3}}>
					  <img class="validate_icon bg_" src="/image/{{a3_ico3}}.png">
					  <div class="tag_num bg_" data-activate="{{a3_num3}}" >{{a3_num3}}</div>
				</div>
			</div>
		</div>
	</div>
		<script>
		// Get all children that require validation 
		var children = document.getElementsByClassName("validate");
		removeBlank(children);
		
		function removeBlank(children) {
			for (var i = 0; i < children.length; i++) {
			  var child = children[i];  
			  // Fetch the value to be checked for validotion. 
			  // Either the name of the ability or the tag icon.
			  var validate = child.dataset.validate;
			  // Check if the ability/tag is valid 
			  if (validate == "") {
					console.log("Nothing found, hiding this element")
					// Add the 'hide' class to this element to remove it from the card
					child.classList.add("hide");
				} else {
					console.log("Found: " + validate); 
					// Check if this is an ability 
					if(child.classList.contains("ability_tag") == true) {
						console.log("This is an ability");
						// Check if there is an 'activation number' on the card
						var activate_number = child.getElementsByClassName("tag_num")[0];
						var tag_icon = child.getElementsByClassName("validate_icon")[0];
						if(activate_number.dataset.activate == "") {
							// Hide the 'activation number' part of the card
							activate_number.classList.add("hide");
							// Locate the icon element and apply the appropriate formatting
							tag_icon = child.getElementsByClassName("validate_icon")[0];
							tag_icon.classList.add("tag_icon_only");
						} else {
							tag_icon.classList.add("tag_icon");
						}
					}
				}
			// Remove the 'validate' class tag so this element won't be checked again 
			child.classList.remove("validate");
			}
		}
		</script>
		
    <!-- YOUR CUSTOM CODE ENDS HERE -->

</div>